<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.zeroscifer.rollr" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Rollr"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".quickMain"
            android:label="@string/title_activity_quick_main" >
        </activity>
        <activity
            android:name=".quickRollResult"
            android:label="@string/title_activity_quick_roll_result" >
        </activity>
        <activity
            android:name=".gameList"
            android:label="@string/title_activity_game_list" >
        </activity>
        <activity
            android:name=".addGame"
            android:label="@string/title_activity_add_game"
            android:parentActivityName=".gameList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zeroscifer.rollr.gameList" />
        </activity>
        <activity
            android:name=".RollList"
            android:label="@string/title_activity_roll_list" >
        </activity>
        <activity
            android:name=".NewRoll"
            android:label="@string/title_activity_new_roll" >
        </activity>
        <activity
            android:name=".CustomRollResult"
            android:label="@string/title_activity_custom_roll_result"
            android:parentActivityName=".gameList" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.zeroscifer.rollr.gameList" />
        </activity>
    </application>

</manifest>
